.HomePage {
  padding: 48px;
}

.HomePageUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
  padding-bottom: 24px;
}

.CardList {
  width: calc((100% - 100px) / 5);
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  list-style: none;
}

.CardLink {
  text-decoration: none;
}

.CardImage {
  border-radius: 4px;
  overflow: hidden;
}

.CardContent {
  padding: 4px;
}

.Title {
  margin: 6px;
  font-size: 18px;
  color: #fff8dc;
}

.CardList:hover,
.CardList:focus {
  box-shadow: 0 0 0.75em 0.5em #fff8dc;
}
