.HomePage {
  padding: 48px;
}

.HomePageUl {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.CardList {
  width: calc((100% - 100px) / 5);
  margin: 10px;
  overflow: hidden;
  list-style: none;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 16px;

  transition: box-shadow 300ms var(--cubic), transfotm 300ms var(--cubic);
}

.CardLink {
  text-decoration: none;
}

.CardImage {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.CardContent {
  padding: 8px;
}

.Title {
  margin: 6px;
  font-size: 18px;
  color: var(--primary-color);
  text-decoration: none;
}

.CardList:hover,
.CardList:focus {
  transform: scale(1.01);
  box-shadow: 0 0 0.75em 0.5em var(--primary-color);
  transition: box-shadow 300ms var(--cubic), transfotm 300ms var(--cubic);
}
