.HomePage {
  padding: 48px;
}

.HomePageUl {
  margin: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .HomePageUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.CardList {
  margin-top: 32px;
  margin-bottom: 32px;
  overflow: hidden;
  list-style: none;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;

  transition: box-shadow 300ms var(--cubic), transfotm 300ms var(--cubic);
}

@media screen and (min-width: 768px) {
  .CardList {
    width: calc((100% - 100px) / 5);
  }
}

.CardLink {
  text-decoration: none;
}

.CardImage {
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.CardContent {
  padding: 8px;
}

.Title {
  margin-left: 6px;
  font-size: 18px;
  color: var(--primary-color);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .Title {
    margin-left: 3px;
    font-size: 14px;
  }
}

.CardList:hover,
.CardList:focus {
  transform: scale(1.01);
  box-shadow: 0 0 0.75em 0.5em var(--primary-color);
  transition: box-shadow 300ms var(--cubic), transfotm 300ms var(--cubic);
}
