.Container {
  padding: 24px;
}

.CardContainer {
  display: flex;
}

.CardContent {
  margin-left: 30px;
}

.CardImage {
  min-width: 280px;
  width: 280px;
  height: auto;
  border-radius: 3px;
}

.image {
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
  transition: box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.image:hover,
.image:focus {
  box-shadow: 0 0 0.75em 0.5em #fff8dc;
  transition: box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff8dc;
}

.btnGood {
  composes: btn;
  transition: box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.btnGood:hover,
btnGood:focus {
  box-shadow: 0 0 0.5em 0.3em #00c800;
  transition: box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.btnBad {
  composes: btn;
  transition: box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.btnBad:hover,
.btnBad:focus {
  box-shadow: 0 0 0.5em 0.3em #c80000;
  transition: box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.CardTitle {
  margin-top: 0;
  font-size: 26px;
  color: #fff8dc;
}

.CardGenresList {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 600;
  color: #c89632;
  /* color: #fff8dc; */
}

.CardGenres {
  display: block;
  margin-left: 6px;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: #fff8dc;
}

.Text {
  font-size: 18px;
  font-weight: 600;
  color: #c89632;
  /* color: #fff8dc; */
}

.TextSpan {
  font-size: 16px;
  font-weight: 400;
  color: #fff8dc;
}

.link {
  margin-left: 30px;
  text-decoration: none;
  color: #fff8dc;
  cursor: pointer;
}

.activLink {
  color: #c89632;
}
