.goToTop {
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  box-sizing: content-box;
  background-color: var(--primary-color);
  transition: box-shadow 300ms var(--cubic);
  /* font-size: 30px; */
  /* mix-blend-mode: difference; */
  /* z-index: 1000; */
}

.goToTopdisplay {
  animation: showGoToTop 300ms ease-in 1;
}

.goToTophide {
  animation: showGoToTop 300ms ease-in 1 reverse;
}

@keyframes showGoToTop {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}

.goToTop:hover,
.goToTop:focus {
  box-shadow: 0 0 0.5em 0.3em var(--primary-color);
  transition: box-shadow 300ms var(--cubic);
}
