.goToTop {
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 24px;
  right: 24px;
  border-radius: 50%;
  box-sizing: content-box;
  background-color: #fff8dc;
  transition: box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1);
  /* font-size: 30px; */

  /* mix-blend-mode: difference; */
  /* z-index: 1000; */
}

.goToTopdisplay {
  animation: showGoToTop 0.4s ease-in 1;
}

.goToTophide {
  animation: showGoToTop 0.4s ease-in 1 reverse;
}

@keyframes showGoToTop {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}

.goToTop:hover,
.goToTop:focus {
  transform: scale(1.03);
  box-shadow: 0 0 0.5em 0.3em #fff8dc;
  transition: box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
