.CastList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.CastListTitle {
  display: block;
  font-size: 18px;
  text-align: center;
  color: var(--acсent-color);
}

.CastCard {
  display: block;
  width: calc((100% - 40px) / 2);
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .CastCard {
    width: calc((100% - 80px) / 8);
    margin: 5px;
  }
}

.CastCardImage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
  overflow: hidden;
}

.CastCardText {
  display: block;
  margin-left: 4px;
  font-size: 14px;
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .CastCardText {
    font-size: 10px;
  }
}
