.CastList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.CastListTitle {
  display: block;
  font-size: 18px;
  text-align: center;
  color: var(--acсent-color);
}

.CastCard {
  display: block;
  width: calc((100% - 100px) / 10);
  margin: 5px;
}

.CastCardImage {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  overflow: hidden;
}

.CastCardText {
  padding: 3px;
  font-size: 10px;
  color: var(--primary-color);
}
