.reviewsTitle {
  display: block;
  font-size: 18px;
  text-align: center;
  color: var(--primary-color);
}

.reviewsList {
  padding-left: 0;
}

.reviewsItem {
  list-style: none;
}
.reviewsListTitle {
  display: block;
  font-size: 18px;
  text-align: center;
  color: var(--acсent-color);
}
.reviewsText {
  padding: 3px;
  font-size: 14px;
  color: var(--primary-color);
}
