.Container {
  padding: 30px;
}

.Input {
  padding: 3px 6px;
  border: 1px solid #fff8dc;
  border-radius: 3px;
  background-color: #19324b;
  color: #fff8dc;
}

.HomePageUl {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.CardList {
  width: calc((100% - 100px) / 5);
  margin: 10px;
  list-style: none;
  border-radius: 4px;
  overflow: hidden;
}

.CardLink {
  text-decoration: none;
}

.CardImage {
  border-radius: 4px;
  overflow: hidden;
}

.CardContent {
  padding: 6px;
}

.Title {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 6px;
  font-size: 16px;
  color: #fff8dc;
}

.CardList:hover,
.CardList:focus {
  box-shadow: 0 0 0.75em 0.5em #fff8dc;
}
