body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #19324b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

:root {
  --primary-color: rgb(255, 248, 220);

  --acсent-color: rgb(200, 150, 50);

  --background-color: rgb(25, 50, 75);

  --cubic: cubic-bezier(0.23, 1, 0.32, 1);
}
